<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="test.Listerners"></listener>
	</listeners>
	<test name="Regression" parallel="classes" thread-count="2">
	<!-- 	<groups>
			<run>
				<include name="smoke"></include>
				<include name="sanity"></include>
			</run>
		</groups>-->
		<classes>
			
			<class name="test.FrameworkDemo3"/>
			<class name="test.FrameworkDemo4" />
		</classes>
	</test>
	<test name="Persona loan">
		<classes>
			<class name="test.FramewordDemo" />
			<class name="test.frameworkDemo2" />
		</classes>
	</test>
</suite> 
